google-adk[extensions,a2a]
google-cloud-secret-manager
requests
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-google-genai
